#logo {
  width: 200px;
  height: 200px;
  background: url('../assets/holberton-logo.jpg') no-repeat;
  background-size: cover;
}

button {
  display: inline-block;
  font-weight: bold;
}

#count {
  float: right;
}
